.field
  = f.label :begins_at
  %br/
  = f.datetime_select :begins_at
.field
  = f.label :source_address
  %br/
  = f.text_area :source_address
.field
  = f.label :source_latitude
  %br/
  = f.text_field :source_latitude
.field
  = f.label :source_longitude
  %br/
  = f.text_field :source_longitude
.field
  = f.label :destination_address
  %br/
  = f.text_area :destination_address
.field
  = f.label :destination_latitude
  %br/
  = f.text_field :destination_latitude
.field
  = f.label :destination_longitude
  %br/
  = f.text_field :destination_longitude
