!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}/
    %title Raye7 Ramin0 - Dashboard
    = stylesheet_link_tag 'dashboard/dashboard', media: :all
    = csrf_meta_tags
  %body
    = render partial: 'layouts/dashboard/nav'
    = render partial: 'layouts/dashboard/session'
    = flash_messages
    = yield
    = javascript_include_tag 'dashboard/dashboard'
