!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}/
    %title Raye7 Ramin0
    = stylesheet_link_tag 'application', media: :all
    = csrf_meta_tags
  %body
    = render partial: 'layouts/nav'
    = render partial: 'layouts/session'
    = flash_messages
    = yield
    = javascript_include_tag 'application'
